version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    groups:
      dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "[npm] "
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    target-branch: "main"
    groups:
      dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "[uv] "
