*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# claude
settings.local.json

# env files
.env
.env.*.local

# python cache
__pycache__/

# drawio
*.drawio.bkp

# cloudfront functions
!src/cloudfront/*.js