[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aws-opentelemetry-distro>=0.15.0",
    "bedrock-agentcore>=1.2.1",
    "strands-agents>=1.25.0",
]
